{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'whatislife/style.css' %}" />

<h1 id = 'text_box'>{{ entry.entry_title }}</h1>
<p id = 'text_box'>Posted at {{ entry.pub_date}}</p>
<p id = 'text_box'>{{entry.post_entry}}</p>


<div id = "comments">
    <h3>Comments for "{{ entry.entry_title }}":</h3>
{% for c in entry.comment_set.all %}
    <p><b>{{c.comment_author}}</b></p>
    <p>{{c.comment_entry}}</p>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

</div>

<form action="{% url 'whatislife:new_comment' entry.id %}" method="post">
    {% csrf_token %}
    <label for="comment_author">Author name: </label>
    <input id="comment_author" type="text" name="comment_author">
    <label for="comment_entry">Type your comment here:</label>
    <input id="comment_entry" type="text" name = "comment_entry">
    <input type="submit" value="OK">
</form>
