{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'whatislife/style.css' %}" />

<h1>{{ entry.entry_title }}</h1>
<p>Posted at {{ entry.pub_date}}</p>
<p>{{entry.post_entry}}</p>
{% for c in entry.comment_set.all %}
    <p><b>{{c.comment_author}}</b></p>
    <p>Published: [{{c.pub_date}}</p>
    <p>{{c.comment_entry}}</p>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

<form action="{% url 'whatislife:new_comment' entry.id %}" method="post">
    {% csrf_token %}
    <label for="comment_author">Author name: </label>
    <input id="comment_author" type="text" name="comment_author">
    <label for="comment_entry">Type your comment here:</label>
    <input id="comment_entry" type="text" name = "comment_entry">
    <input type="submit" value="OK">
</form>